aside{
   width: 250px;
   position: fixed;
   height: 100%;
   border-right: solid;
   border-width: 2px;
   border-color: rgb(215, 215, 215);
   z-index: 2000;
   background-color: rgb(240, 240, 240);

}



.home img, .explore img, .noti img, .message img, .bookmarks img, .list img, .profile img, .more img{
    height: 30px;
}

.pp{
    border-radius: 50px;
}


.home, .explore, .noti, .message, .bookmarks, .list, .profile, .more{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s ease ;
    width: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}

.margin{
    margin-left: 50px;
    margin-top: 20px;
    z-index: 1000;
}

.bird img{
    height: 45px;
}

.button1{
    background-color: rgb(29, 161, 242);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    border-radius: 50px;
    border: none;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.button1:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.home:hover, .explore:hover, .noti:hover, .message:hover, .bookmarks:hover, .list:hover, .profile:hover, .more:hover{
    background-color: rgb(216, 215, 215);
    cursor: pointer;
}


@media (max-width: 1400px){
    aside {
        width: 250px;
    }
    
    .margin{
        margin-left: 80px;
    }
}

@media (max-width :1366px){
    aside{
        width: 250px;
    }
    
    .margin{
        margin-left: 70px;
    }
}




