*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    height: 10000px;
    background-color: rgb(240, 240, 240);
   
   
}

aside p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}   

