.tweet{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;

}

.view{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.verify{
    position: absolute;
    top:-9px;
    left:110px
}

.info1{
    display: flex;
    gap: 10px;
}

.info1 img{
    height: 20px;
    margin-top: 10px;
}

.margin1{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
nav {
    position: fixed;
    width: 600px;
    left: calc(250px);
    z-index: 1000;
    border-color: rgb(215, 215, 215);
    background-color: rgb(240, 240, 240);
    height: 50px;
    border-right-style: solid;
    border-width: 2px;

}



