section{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 550px;
    left: 850px;
    background-color: rgb(240, 240, 240);
    
}
/* To make all have same margin left on section*/
.margin3{
    margin-left: 30px;
    height: 100%;
    margin-right: 100px;
    margin-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Input search box*/
.search{
    position: relative;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(217, 217, 217);
    border: none;
    width: 300px;
}

.search::placeholder{
    padding: 30px;
}


.iconic{
    position: absolute;
    left: 40px;
    height: 20px;
    top:18px;
}
/* picture anime*/
.videogrid{
    display: grid;
    grid-template-columns: repeat(3 ,100px);
    margin-top: 20px;
    column-gap: 0px;
    row-gap: 5px;

    
}
.videogrid img{
    height: 100px;
    width: 98px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}
/* You might like */
.likess{
    margin-top: 10px;
    border-bottom-style:solid ;
    height: 30px;
    border-width: 2px;
    border-color: rgb(195, 192, 192);

}

.likess p{
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.youmay{
    margin-top: 10px;
    background-color:  rgb(223, 222, 222);
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 10px;
}

/* Mark */
.info5{
    display: flex;
    flex-direction: column;
    gap:2px;
    position: relative;
}

.profilepic img{
    height: 40px;
    border-radius: 20px;
}

.channel1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;

}

.mark ,.username{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.mark{
    font-weight: bold;
    font-size: 14px;
}

.username{
    color: grey;
    font-size: 14px;
}

.info5 img{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 70px;
}

.margin4{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(195, 192, 192);
}

 .butang{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background:transparent ;
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    margin-left: 80px;

}
/* CS DOJO*/

.dojo{
    margin-left: -15px;
}

.dojo1{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background:transparent ;
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    margin-left: 96px; 
}

/* Mr BEast*/
.beast{
    margin-left: -7px;
}

.beast1{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background:transparent ;
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    margin-left: 88px;
}

/* Alphonso*/

.davies{
    margin-left:-5px;
}

.davies1{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background:transparent ;
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    margin-left: 85px;
    
}

.margin5 p{
    margin-left: 10px;
    color:rgb(29, 161, 242) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

