.container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: px;
    border-bottom-style: solid;
    height: 150px;
    border-width: 2px;
    border-color: rgb(215, 215, 215);
}
.pp6 img{
    height: 50px;
    border-radius: 50px;
     margin-left: 10px;
}
.top{
    display: flex;
    gap: 25px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}
.tweet1{
    font-weight: bold;
    
}

.tweet2{
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.verify2{
    height: 20px;
    position: absolute;
    left: 55px;
    top: 3px;
}
.down{
    margin-left: 250px;
}

.p7{
    margin-top: 5px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 500px;
   
   
}

.comment img{
    height: 20px;
}

.comment{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.blue{
    color: rgb(25, 137, 207);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blues{
    margin-top: 20px;
}
